archive
bioturb-env
jobs
status
*.out

analysis/config_local.py
analysis/__pycache__

CellSimulatorSBT/build
CellSimulatorSBT/Example

data/*
!data/examples
!data/processed
data/processed/correlation

figs/snapshots
figs/data

*.ai
*.pdf
*.pptx
.DS_Store