archive
bioturb-env
jobs
status
*.out

analysis/config_local.py
analysis/__pycache__

CellSimulatorSBT/build
CellSimulatorSBT/Example

data/*
!data/examples
!data/processed
data/processed/correlation
data/processed/continuum/*.dat

figs/data
figs/processed
figs/snapshots

*.ai
*.pdf
*.png
*.pptx
.DS_Store
.vscode